<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!--    See this for more info: https://github.com/logstash/logstash-logback-encoder#accessevent-patterns -->
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <providers>
                <timestamp pattern="yyyy-MM-dd' 'HH:mm:ss.SSS"/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <!--                        <evaluator class="myorg.MyCustomEvaluator"/>-->
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
            </providers>
            <fieldNames>
                <timestamp>time</timestamp>
                <message>logMessage</message>
                <stackTrace>stacktrace</stackTrace>
            </fieldNames>
            <!--            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
            <!--                <jsonFormatter-->
            <!--                        class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->
            <!--                    <prettyPrint>true</prettyPrint>-->
            <!--                </jsonFormatter>-->
            <!--                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>-->
            <!--            </layout>-->
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="json"/>
        </root>
    </springProfile>

</configuration>